---
- name: restart sssd
  service:
    name: sssd
    state: restarted

- name: restart oddjobd
  service:
    name: oddjobd
    state: restarted

- name: restart sshd
  service:
    name: "{{ 'sshd' if ansible_os_family == 'RedHat' else 'ssh' }}"
    state: restarted
