---
- name: Enable home directory creation on login (RHEL/CentOS)
  service:
    name: oddjobd
    state: started
    enabled: yes
  when: ansible_os_family == "RedHat"

- name: Configure SSSD to create home directories (Debian/Ubuntu)
  lineinfile:
    path: /etc/pam.d/common-session
    line: "session optional pam_mkhomedir.so skel={{ pam_mkhomedir_skel }} umask={{ pam_mkhomedir_umask }}"
    regexp: '^session\s+optional\s+pam_mkhomedir\.so'
    insertafter: EOF
    state: present
  when: ansible_os_family == "Debian"

- name: Ensure SSSD service is enabled and started
  service:
    name: sssd
    state: started
    enabled: yes
